
input {
  width: 100%;
  background-color: beige;
}      
.todo-container {
   text-align: center;
   font-weight: 500;
   font-size: 15px;
  margin: 20px;
 }

 .kg-row{
   margin: 10px 5px;
 }

 .kg-button{
  min-width: 90px;
 }


